{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img class="img-fluid" alt="home" src="{% static 'img/home.jpg' %}">
            </div>
        </div>

        <h2>추천 유형을 선택해주세요.</h2><br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" onclick="location.href='similarity_based'"  class="btn btn-outline-primary">1. 맥주간 유사도 기반 추천</button><br>
            <button type="button" onclick="location.href='rating_based'" class="btn btn-outline-primary">2. 내 평점이 반영된 맥주 추천</button>
        </div>
    </div>
{% endblock %}